body{
  overflow-y: scroll; overflow-x:hidden;
}

.hero-image, .parallax {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://images.unsplash.com/photo-1504208434309-cb69f4fe52b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMjU4fQ&auto=format&fit=crop&w=1050&q=80");
  height: 70%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media only screen and (max-device-width: 1300px) {
  .parallax {
    background-attachment: scroll;
  }
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  color: white;
}

.hvr-icon-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
  }
  .hvr-icon-forward .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-icon-forward:hover .hvr-icon, .hvr-icon-forward:focus .hvr-icon, .hvr-icon-forward:active .hvr-icon {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
#caption{
  position: relative;
  top: 8%;
  left:1%;
  font-size: 30px;
  font-weight: bold;
}
.card{
  position: relative;
  top: 10%;
  width:100%;
  overflow: hidden
}
.card:hover{
  transform: scale(1.05);
  cursor: pointer;
}
#cardImg{
  width:100%;
  height:200px
}
.likeBtn{
  color:black;
}
.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px red;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px red;
}
.detailsBtn{
  background-color: #231942;
  color: white
}
.detailsBtn:hover{
  color: white;
  border: 1px solid white
}